<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">
<xacro:include filename="$(find reppy_bot_urdf)/defs/consts.xacro"/>


<xacro:macro name="diff_drive_setup" 
	         params="base_frame
	                 wheel_base_center_x
	                 wheel_separation 
	                 wheel_diameter 
	                 wheel_torque
					 wheel_acceleration
	                 cmd_topic
					 odom_topic
	                 odom_frame
					 ros_plugin_always_on
					 ros_plugin_controller_name
	                 ros_plugin_update_rate
					 ros_plugin_odom_source
					 ros_plugin_publish_wheel_joint_state
					 ros_plugin_publish_wheel_tf
					 ros_plugin_publish_tf
	                 ">       	
	<gazebo>
		<plugin name="${ros_plugin_controller_name}" filename="libgazebo_ros_diff_drive.so">
			<robotBaseFrame>${base_frame}</robotBaseFrame>
			
			<wheelSeparation>${wheel_separation}</wheelSeparation>
			<wheelDiameter>${wheel_diameter}</wheelDiameter>
			<wheelTorque>${wheel_torque}</wheelTorque>
			<wheelAcceleration>${wheel_acceleration}</wheelAcceleration>
			
			<commandTopic>${cmd_topic}</commandTopic>
			<odometryTopic>${odom_topic}</odometryTopic> 
			<odometryFrame>${odom_frame}</odometryFrame>
			
			<alwaysOn>${ros_plugin_always_on}</alwaysOn>
			<updateRate>${ros_plugin_update_rate}</updateRate>
			<odometrySource>${ros_plugin_odom_source}</odometrySource>
				    
			<leftJoint>${ros_plugin_controller_name}_left_wheel_joint</leftJoint>
			<rightJoint>${ros_plugin_controller_name}_right_wheel_joint</rightJoint>
			<rosDebugLevel>${debugLevel}</rosDebugLevel>
			<publishWheelTF>${ros_plugin_publish_wheel_tf}</publishWheelTF>
			<publishWheelJointState>${ros_plugin_publish_wheel_joint_state}</publishWheelJointState>
			<publishTf>${ros_plugin_publish_tf}</publishTf>
		</plugin>
		
	</gazebo>
</xacro:macro>

</robot>


		
	