<?xml version="1.0"?>

<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro"
>
	
<!--
	IMU  
-->
<xacro:macro name="imu" params="id
								robot_namespace
								topic_name
								parent_link
								x y z roll pitch yaw
								gaussian_noise
								imu_x imu_y imu_z imu_roll imu_pitch imu_yaw
								">	
	
<link name="imu${id}_link">	
	<visual>
		<geometry>
			<box size="0.02 0.02 0.02" />
		</geometry>
		<material name="Yellow">
			<color rgba="1 1 0 1"/>
		</material>
	</visual>
</link>

<joint name="imu${id}_joint" type="fixed">
	<parent link="${parent_link}" />
	<child link="imu${id}_link" />
	<origin xyz="${x} ${y} ${z}" rpy="${roll} ${pitch} ${yaw}" />
</joint>
	
<gazebo>
	  <plugin name="imu{id}_controller" filename="libgazebo_ros_imu.so">
			<robotNamespace>${robot_namespace}</robotNamespace>
			<bodyName>imu${id}_link</bodyName>
			<topicName>${topic_name}</topicName>
			<gaussianNoise>${gaussian_noise}</gaussianNoise>
			<xyzOffsets>0 0 0</xyzOffsets>
			<rpyOffsets>0 0 0</rpyOffsets>
	  </plugin>
</gazebo>
</xacro:macro>

</robot>